@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(1.0000 0 0);
  --foreground: oklch(0.1944 0.0498 267.7362);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.1944 0.0498 267.7362);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.1944 0.0498 267.7362);
  --primary: oklch(0.6338 0.1082 216.0949);
  --primary-foreground: oklch(0.9751 0.0127 244.2507);
  --secondary: oklch(0.3642 0.0726 233.0205);
  --secondary-foreground: oklch(0.9751 0.0127 244.2507);
  --muted: oklch(0.8975 0 0);
  --muted-foreground: oklch(0.5103 0 0);
  --accent: oklch(0.7116 0.0905 192.5543);
  --accent-foreground: oklch(0.2634 0.0336 214.9225);
  --destructive: oklch(0.6122 0.2082 22.2410);
  --destructive-foreground: oklch(0.9751 0.0184 137.7951);
  --border: oklch(0.8669 0 0);
  --input: oklch(0.8669 0 0);
  --ring: oklch(0.8669 0 0);
  --chart-1: oklch(0.7246 0.1377 21.0288);
  --chart-2: oklch(0.7696 0.1135 25.9761);
  --chart-3: oklch(0.8152 0.0917 32.4672);
  --chart-4: oklch(0.8631 0.0718 45.6386);
  --chart-5: oklch(0.9113 0.0600 63.6987);
  --sidebar: oklch(1.0000 0 0);
  --sidebar-foreground: oklch(0.1944 0.0498 267.7362);
  --sidebar-primary: oklch(0.6338 0.1082 216.0949);
  --sidebar-primary-foreground: oklch(0.9751 0.0127 244.2507);
  --sidebar-accent: oklch(0.7116 0.0905 192.5543);
  --sidebar-accent-foreground: oklch(0.1944 0.0498 267.7362);
  --sidebar-border: oklch(0.8669 0 0);
  --sidebar-ring: oklch(0.8669 0 0);
  --font-sans: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --font-serif: ui-serif, Georgia, Cambria, Times New Roman, Times, serif;
  --font-mono: Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  --radius: 0.5rem;
  --shadow-2xs: 0px 5px 20px 0px hsl(0 0% 0% / 0.25);
  --shadow-xs: 0px 5px 20px 0px hsl(0 0% 0% / 0.25);
  --shadow-sm: 0px 5px 20px 0px hsl(0 0% 0% / 0.50), 0px 1px 2px -1px hsl(0 0% 0% / 0.50);
  --shadow: 0px 5px 20px 0px hsl(0 0% 0% / 0.50), 0px 1px 2px -1px hsl(0 0% 0% / 0.50);
  --shadow-md: 0px 5px 20px 0px hsl(0 0% 0% / 0.50), 0px 2px 4px -1px hsl(0 0% 0% / 0.50);
  --shadow-lg: 0px 5px 20px 0px hsl(0 0% 0% / 0.50), 0px 4px 6px -1px hsl(0 0% 0% / 0.50);
  --shadow-xl: 0px 5px 20px 0px hsl(0 0% 0% / 0.50), 0px 8px 10px -1px hsl(0 0% 0% / 0.50);
  --shadow-2xl: 0px 5px 20px 0px hsl(0 0% 0% / 1.25);
  --tracking-normal: 0.025em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.1944 0.0498 267.7362);
  --foreground: oklch(0.9689 0.0281 199.4134);
  --card: oklch(0.2712 0.0538 269.1344);
  --card-foreground: oklch(0.9689 0.0281 199.4134);
  --popover: oklch(0.2712 0.0538 269.1344);
  --popover-foreground: oklch(0.9689 0.0281 199.4134);
  --primary: oklch(0.6338 0.1082 216.0949);
  --primary-foreground: oklch(0.1944 0.0498 267.7362);
  --secondary: oklch(0.3642 0.0726 233.0205);
  --secondary-foreground: oklch(0.9689 0.0281 199.4134);
  --muted: oklch(0.3867 0 0);
  --muted-foreground: oklch(0.8669 0 0);
  --accent: oklch(0.8236 0.0950 192.9349);
  --accent-foreground: oklch(0.1944 0.0498 267.7362);
  --destructive: oklch(0.6122 0.2082 22.2410);
  --destructive-foreground: oklch(0.9751 0.0184 137.7951);
  --border: oklch(0.3814 0.0258 237.5416);
  --input: oklch(0.3814 0.0258 237.5416);
  --ring: oklch(0.3814 0.0258 237.5416);
  --chart-1: oklch(0.7246 0.1377 21.0288);
  --chart-2: oklch(0.7696 0.1135 25.9761);
  --chart-3: oklch(0.8152 0.0917 32.4672);
  --chart-4: oklch(0.8631 0.0718 45.6386);
  --chart-5: oklch(0.9113 0.0600 63.6987);
  --sidebar: oklch(0.2712 0.0538 269.1344);
  --sidebar-foreground: oklch(0.9689 0.0281 199.4134);
  --sidebar-primary: oklch(0.6338 0.1082 216.0949);
  --sidebar-primary-foreground: oklch(0.1944 0.0498 267.7362);
  --sidebar-accent: oklch(0.8236 0.0950 192.9349);
  --sidebar-accent-foreground: oklch(0.1944 0.0498 267.7362);
  --sidebar-border: oklch(0.3814 0.0258 237.5416);
  --sidebar-ring: oklch(0.3814 0.0258 237.5416);
  --font-sans: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --font-serif: ui-serif, Georgia, Cambria, Times New Roman, Times, serif;
  --font-mono: Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  --radius: 0.5rem;
  --shadow-2xs: 0px 5px 20px 0px hsl(0 0% 0% / 0.25);
  --shadow-xs: 0px 5px 20px 0px hsl(0 0% 0% / 0.25);
  --shadow-sm: 0px 5px 20px 0px hsl(0 0% 0% / 0.50), 0px 1px 2px -1px hsl(0 0% 0% / 0.50);
  --shadow: 0px 5px 20px 0px hsl(0 0% 0% / 0.50), 0px 1px 2px -1px hsl(0 0% 0% / 0.50);
  --shadow-md: 0px 5px 20px 0px hsl(0 0% 0% / 0.50), 0px 2px 4px -1px hsl(0 0% 0% / 0.50);
  --shadow-lg: 0px 5px 20px 0px hsl(0 0% 0% / 0.50), 0px 4px 6px -1px hsl(0 0% 0% / 0.50);
  --shadow-xl: 0px 5px 20px 0px hsl(0 0% 0% / 0.50), 0px 8px 10px -1px hsl(0 0% 0% / 0.50);
  --shadow-2xl: 0px 5px 20px 0px hsl(0 0% 0% / 1.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

body {
  letter-spacing: var(--tracking-normal);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
